<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script type="text/javascript">
          google.charts.load("current", {packages:["corechart"]});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var positive = '<%- positive %>';
            var negative = '<%- negative %>'; 
            var nuetral = '<%- nuetral %>';
            var data = google.visualization.arrayToDataTable([
            ['Classification', 'Count'],
            ['Positive Tweets', Number(positive)],
            ['Negative Tweets', Number(negative)],
            ['Nuetral Tweets',  Number(nuetral)]
            ]);
            // /(positive+negative+nuetral)
            var options = {
              is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('my_chart'));
            chart.draw(data, options);
          }
        </script>
  </head>
  <body style="background-color:rgb(93,169,221);color:white;">
    <!-- <a href="about.html" style="float:right;font-size:20px;text-shadow:0px 0px 2px white;color:white;text-decoration:none">What we do?</a> -->
    <br/><br/><br/>
    <center style="font-family:Baskerville Old Face;">
      <fieldset style="border:2px solid white;width:50%;border-radius:10px">
      <h1 style="font-size:55px">Tweeple's View</h1><br/>
      <form action="/"method="post">
          <% if(doneBQ == null){ %>
            <h1>Ever wish you could read minds?</h1>
            <input name = "topic" type="text" style="outline:none;font-size:20px;padding-left:20px;height:40px;width:350px;border:3px solid navy;border-radius:40px!important;box-shadow:0px 0px 3px navy" required>
            <input id= "btn-main" type="submit" value="&#128269;" style="margin-left:0px;background-color:rgb(93,169,221);border:none;font-size:30px;width:50px">
            <br/><br/><b style="font-size:20px">(What do other people think?)</b>
          <% } %>  
          <% if(doneBQ !== null){ %>
            <input type="button" value="&#128260;" onclick="location.href='http://localhost:3000';" style="margin-left:0px;background-color:rgb(93,169,221);border:none;font-size:30px;width:50px">
            <b style="font-size:20px">Click here to Start Over!!!</b>
          <% } %> 
          <br/>
      </form>
      <br/>
      <% if(error !== null){ %>
        <p><%= error %></p>
      <% } %>
      <% if(doneBQ !== null){ %>
          <b style="font-size:30px">Sentiment Analysis for " <%= topic %> "</b>
          <br/><br/>
          <div id="my_chart" style="width: 800px; height: 600px;"></div>
      <% } %>    
      </fieldset>      
    </center>
  </body>
</html>
